* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	width: 100%;
	background-image: url("../../public/background.png");
	height: auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top center;
}
